[alias]
        st = status
        ci = commit
        br = branch
        co = checkout
	    log1 = log --oneline
	    pl = pull
	    ps = ps
[user]
        name = jion_kozono
        email = zeon66190329@gmail.com
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[core]
	editor = cursor --wait
