[alias]
        st = status
        ci = commit
        br = branch
        co = checkout
	    log1 = log --oneline
	    pl = pull
	    ps = ps
[include]
	path = ~/.gitconfig.local
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[core]
	editor = zed --wait
[filter "lfs"]
	clean = /opt/homebrew/bin/git-lfs clean -- %f
	smudge = /opt/homebrew/bin/git-lfs smudge -- %f
	process = /opt/homebrew/bin/git-lfs filter-process
	required = true
