[alias]
        st = status
        ci = commit
        br = branch
        co = checkout
	    log1 = log --oneline
	    pl = pull
	    ps = ps
[include]
	path = ~/.gitconfig.local
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[core]
	editor = zed --wait
